%article#about.page
  %header
    .container
      %a.back{:href => "#/"} Back to Home
      %h1.title About Me

  .container
    %section.intro
      %h1 Introduction
      %figure.portrait
        .mask
        %img{"data-src" => "images/portrait.png"}
      .content
        %p Hello, I'm Jason Harrelson. I'm a template person who acts as a web designer & developer.
        %p Yeah, you heard me right, a template person. You should see that coming. I mean, come on, which couple would name their offspring John Doe? It only makes sense when it means John Doe the template, right?
        %p Man, it's tough to be a template person. Why? Well, because there isn't a Jone Doe there, is there? Many template sites introduce me as the owner of the site, but who wants to be an owner if you can't have a Ms. Jone Doe to flirt with?
        %p As you can see, I'm not speaking in Lorem-ipsum. Though it's my mother language, I find it impolite to speak to people in a language that they consider as gibberish. Impolite as in how they respond impolitely: "WTH are you talking about?"
        %p One last thing, if you ever find Ms. Jone Doe the template. Could you please tell her that I lorem ipsum dolor sit amet her?

    %section.skills
      %h1 My Skills
      %dl
        - Skill.all.each do |skill|
          %dt=skill.name
          %dd
            %b
            %span=skill.proficiency

    %section.downloads
      %h1 Downloads
      .vcard
        %a{:href => "#example"}
          %b
          %span Download my vCard
      .resume
        %a{:href => "#example"}
          %b
          %span Download my Résumé
