%article#contact.page
  %header
    .container
      %h1.title Contact Me

  .container
    %section.info
      %h1 Contact Information
      %dl
        %dt.address Address
        %dd.address Somewhere, The Woodlands, TX

    %section.social
      %h1 Social Networks
      %ul
        %li.linkedin
          = link_to 'Check me out on LinkedIn', linked_in_public_profile_path, :target => '_linked_in'
        %li.twitter
          = link_to 'Follow me on Twitter', twitter_public_profile_path, :target => '_twitter'
        %li.working-with-rails
          =link_to 'Check me out on Working with Rails', working_with_rails_public_profile_path, :target => '_working_with_rails'
        %li.oh-loh
          =link_to 'Check me out on Oh-Loh', oh_loh_public_profile_path, :target => '_oh_loh'
        %li.lastfm
          = link_to 'Follow me on Last.FM', last_fm_public_profile_path, :target => '_last_fm'

    %section.map
      %figure

    %section.form
      %h1 Contact Form
      %form{:action => "php/mail.php", :method => "post"}
        %p.single-line
          %label{:for => "contact-form-name"} Name
          %input#contact-form-name{:name => "name", :required => "", :type => "text"}/
        %p.single-line
          %label{:for => "contact-form-email"} Email
          %input#contact-form-email{:name => "email", :required => "", :type => "email"}/
        %p.multi-line
          %textarea{:name => "message", :required => ""}
        .buttons
          %button{:type => "submit"}
            %span
              %b
              %span Send