%nav#nav
  %h1 Navigation
  %ul
    %li.portfolio
      %a{:href => "#/portfolio"}
        %b
        %span Portfolio
    %li.about
      %a{:href => "#/about-me"}
        %b
        %span About me
    %li.contact
      %a{:href => "#/contact-me"}
        %b
        %span Contact me
